<mat-table [dataSource]="documents">

  <ng-container matColumnDef="selected">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let document" [ngClass]="{ 'draft': !document.creationTime }">
      <mat-checkbox *ngIf="document.creationTime" (click)="$event.stopPropagation()" (change)="onChange(document.id, $event)" [checked]="documentsSelectedById[document.id]"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let document" ngClass="{ 'draft': !document.creationTime }">
      {{ template.name | templatedText:(document.values) }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="values">
    <mat-header-cell *matHeaderCellDef>Values</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ getFormattedValues(document) }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="creationTime">
    <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
    <mat-cell *matCellDef="let document">{{ document.creationTime | date:'fullDate' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="options">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let document">
        <button mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>file download</mat-icon>
            <span>Download</span>
          </button>
          <button mat-menu-item>
            <mat-icon>note add</mat-icon>
            <span>Create from</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let document; columns: displayedColumns;"
    (click)="openDocumentWizard(document)">
  </mat-row>

</mat-table>