mat-table {

    .mat-header-cell {
        padding: 0 10px;
    }

    .mat-cell {
        padding: 5px 10px;
    }

    mat-header-row, mat-row {
        :nth-child(1) {
            width: 45px;
            flex: initial;
        }

        :nth-child(2) {
            width: 300px;
            flex: initial;
        }

        :nth-child(4) {
            width: 200px;
            flex: initial;
        }

        :nth-child(5) {
            width: 45px;
            flex: initial;
        }
    }

    mat-row {
        cursor: pointer;

        :nth-child(1) {
            overflow: visible;

            &.draft {
                font-style: italic;
            }
        }

        :nth-child(2) {
            &.draft {
                font-style: italic;
            }
        }
    }
}