.toolbar-position {
    position: fixed;
    width: 100%;

    .toolbar-container {
        position: relative;
        transition: all 0.2s;
    }

    mat-toolbar {

        .template-name-container {
            position: absolute;
            width: 100%;
            text-align: center;

            .template-name {
            }
        }

        .fill-remaining-space {
            flex: 1;
        }
    }

    &:not(.visible) {
        .toolbar-container {
            transform: translateY(-100%);
        }
    }
}

.text-document-container {
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding-top: 100px;
    padding-bottom: 50px;

}

app-document-viewer-pdf-document {
    display: block;
    width: 100%;

    // Magic! (Some function of iframe + the toolbar height)
    height: calc(100vh - 70px);
    padding-top: 66px;
}
