<div class="toolbar-position" [ngClass]="{ 'visible': isToolbarVisible }">
  <div class="toolbar-container">
    <mat-toolbar>
      <div class="template-name-container">
        <div class="template-name">{{ (template$ | async).name }}</div>
      </div>
      <button mat-raised-button color="accent" (click)="onEditClick($event)">EDIT</button>
      <div class="fill-remaining-space"></div>
      <button mat-raised-button color="primary" (click)="onSaveClick($event)">SAVE</button>
    </mat-toolbar>
  </div>
</div>
<div class="document-container">
  <app-document-viewer-text-document
    [textDocument]="document$ | async">
  </app-document-viewer-text-document>
</div>