<div class="toolbar-position" [ngClass]="{ 'visible': isToolbarVisible }">
  <div class="toolbar-container">
    <mat-toolbar>
      <div class="template-name-container">
        <div class="template-name">{{ (template$ | async).name }}</div>
      </div>
      <button mat-raised-button color="accent" (click)="onEditClick($event)">EDIT</button>
      <div class="fill-remaining-space"></div>
      <div class="primary-controls" *ngIf="(documentType$ | async) === 'pdf'">
        <button mat-raised-button color="primary" *ngIf="(document$ | async).document.isSigned" (click)="onSignClick($event)">SIGN</button>      
        <button mat-raised-button color="primary" (click)="onSaveClick($event)">SAVE</button>
      </div>
    </mat-toolbar>
  </div>
</div>
<div class="text-document-container" *ngIf="(documentType$ | async) === 'text'">
  <app-document-viewer-text-document
    [textDocument]="document$ | async">
  </app-document-viewer-text-document>
</div>
<app-document-viewer-pdf-document
  *ngIf="(documentType$ | async) === 'pdf'"
  [serializableDocument]="(document$ | async).document">
</app-document-viewer-pdf-document>