<h2>Select a template</h2>
<form [formGroup]="form" (submit)="onGoClick()">
  <mat-form-field>
      <input type="text" matInput formControlName="templateName" [matAutocomplete]="auto" />
      <mat-autocomplete id="templateNameAutocompleteTrigger" #auto="matAutocomplete">
        <mat-option *ngFor="let option of (options | async)" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <div class="control-container">
    <button mat-raised-button (click)="onCancelClick()">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" >GO!</button>
  </div>
</form>