.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        &.step-content {
            app-generator-wizard-step {
                display: block;
                margin-top: 45px;
            }
        }

        &.review-content {
            
        }
    }

    .navigation-container {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
    }
}