.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;

        &.step-content {
            app-generator-wizard-step {
                display: block;
                margin-top: 45px;
            }
        }

        &.review-content {
            .document-values-container {
                flex: 1;
            }
        }
    }

    .navigation-container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 30px;
    }
}