<form [formGroup]="form">
  <div class="input-container" [ngSwitch]="templateStepInput.type">
    <mat-form-field
      *ngSwitchCase="TemplateStepInputType.Text">
      <input matInput
        formControlName="text"
        [placeholder]="templateStepInput.name" />
      <mat-hint>{{ templateStepInput.hint ? ('e.g. ' + templateStepInput.hint) : '' }}</mat-hint>
    </mat-form-field>
    <mat-radio-group
      *ngSwitchCase="TemplateStepInputType.Radio"
      formControlName="radio">
      <mat-radio-button
        *ngFor="let option of templateStepInput.typeData"
        [value]="option.Value">{{ option.Name }}</mat-radio-button>
    </mat-radio-group>
    <div class="checkbox-group" *ngSwitchCase="TemplateStepInputType.Checkbox">
      <mat-checkbox formControlName="yes">Yes</mat-checkbox>
      <mat-checkbox formControlName="no">No</mat-checkbox>      
    </div>
  </div>
</form>
