$groupItemMarginLeft: 20px;

form {
    .input-container {
        mat-form-field {
            width: 100%;

            &.mat-form-field--no-underline {

                /host/ .mat-form-field-underline {
                    background-color: transparent;
                }

                input {
                    display: none;
                }
            }
        }

        mat-radio-group {
            mat-radio-button {
                &:not(:first-child) {
                    margin-left: $groupItemMarginLeft;
                }
            }   
        }

        .checkbox-group {
            mat-checkbox {
                &:not(:first-child) {
                    margin-left: $groupItemMarginLeft;
                }
            }
        }
    }
}