<div class="app-wizard-page">
  <div class="card-container">
    <mat-card style="margin-bottom: 50px; max-width: 500px;">
        <mat-progress-bar mode="determinate" [value]="progress$ | async"></mat-progress-bar>
        <mat-card-title>{{ (templateStep$ | async).name }}</mat-card-title>
        <mat-card-subtitle>{{ (templateStep$ | async).description }}</mat-card-subtitle>
        <mat-card-content>
          <app-wizard-template-step
            [templateStep]="templateStep$ | async"
            [value]="currentValues$ | async"
            (valueChanges)="updateStepValues($event)"></app-wizard-template-step>
        </mat-card-content>
        <mat-card-actions>
          <app-wizard-template-step-navigation
            [hasNextStep]="hasNextStep$ | async"
            [hasPreviousStep]="hasPreviousStep$ | async"
            [currentStepValid]="currentStepValid$ | async"
            (nextStepClick)="onNextStepClick($event)"
            (previousStepClick)="onPreviousStepClick($event)"
            (completeClick)="onCompleteClick($event)">
          </app-wizard-template-step-navigation>
        </mat-card-actions>
    </mat-card>
  </div>
</div>