.app-wizard-page {
    min-height: 100vh;
    background-color: slategray;

    .card-container {
        display: flex;
        justify-content: center;

        mat-card {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            max-width: 100%;
            width: 700px;
            min-height: 550px;

            mat-progress-bar {
                position: absolute;
                left: 0;
                top: 0;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }

            mat-card-content {
                flex: 1;
            }

            mat-card-actions {
                display: flex;
                justify-content: center;
                margin: 30px 0;
            }
        }
    }
}